<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/style.css" rel = "stylesheet"/>
      <title>Login Page</title>
   </head>
   <body>
	 <div class="parent_log">
		 <div class="log">
			 <h1>Signup here</h1>
			 <form action="/user/add" method="post" onsubmit="return validateForm()">
			 <div>
				   <input id="email" type='text'name="email" placeholder="Enter email">
		     </div>
		     <div>
				   <input id="pass" type='password' name="password" placeholder="Enter Password">
		   	 </div>
		   	 <div>
				   <input id="cpass" type='password'  placeholder="Confirm Password">
		   	 </div>
		   	 <div>
			   <button id="lbut" type="submit">Signup</button>
		     </div>
		     </form>
		     <a href="http://localhost:8080/" id="lanchor">Already signed up  login  Here</a>
		 </div>
	 </div>

   </body>
   <script>
	    function validateForm() {
		   let pass = document.getElementById('pass').value;
		   let cpass = document.getElementById('cpass').value;

		   if (pass !== cpass) {
			   alert("Enter correct password");
			   return false; 
		   }
		   return true;
	   }
   </script>

	   
</html>